/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/chivo/Chivo-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/chivo/Chivo-Italic-VariableFont_wght.ttf") format("truetype");
}

html {
  font-family: "Chivo", sans-serif;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
